<%
const user = (typeof currentUser !== "undefined" && currentUser) ? currentUser : null;
%>

<nav class="nav">
  <div class="nav-left">
    <a class="brand" href="/">Trip Itinerary Planner</a>
    <a href="/trips">Trips</a>
  </div>

  <div class="nav-right">
    <% if (user) { %>
      <span class="welcome">Hi, <%= user.name %></span>
      <form action="/auth/sign-out" method="POST" style="display:inline;">
        <button class="btn btn-light" type="submit">Sign Out</button>
      </form>
    <% } else { %>
      <a href="/auth/sign-in">Sign In</a>
      <a href="/auth/sign-up">Sign Up</a>
    <% } %>
  </div>
</nav>








