<h1>New Trip</h1>

<% if (error) { %>
  <p style="color:red;"><%= error %></p>
<% } %>

<form action="/trips" method="POST">
  <label>Title</label><br/>
  <input name="title" required /><br/><br/>

  <label>Destination</label><br/>
  <input name="destination" /><br/><br/>

  <label>Start Date</label><br/>
  <input type="date" name="startDate" /><br/><br/>

  <label>End Date</label><br/>
  <input type="date" name="endDate" /><br/><br/>

  <label>Notes</label><br/>
  <input name="notes" /><br/><br/>

  <button type="submit">Create Trip</button>
</form>

<a href="/trips">Cancel</a>



